#simon {
  background: linear-gradient(rgba(109, 33, 60, 0.6), rgba(109, 33, 60, 0.6)),
    url("https://bit.ly/2Tg0eol")
      no-repeat center center/cover;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  font-size: 1.8rem;
  font-family: 'Permanent Marker';
 /* font-family: 'Zhi Mang Xing', cursive; */
}
.register {
  display:flex;
  justify-content: center;
  align-items: center;
}
.hone {
  font-family: 'Permanent Marker';
  color:white;  
  font-size: 4rem;

}